@charset "UTF-8";

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body{
	font-family: 'nanumsquare';
}

.container  {
	
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.ineer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.inner {
    width: 640px;
}

.pwd-inner {
    margin: 0 auto;
    width: 80%;
}

input[type="password"] {
    padding: 1rem 0.75rem;
    border-radius: 10px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.btn-inner {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
}

button {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #d72828;
    color:#fff; 
    border: none;
    border-radius: 10px;
    width: 100px;
}

button:hover {
	background-color:#bbb;
}