@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body, h3, table, th, td, button {
	font-family: 'nanumsquare';
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
   
}


/* 페이지 타이틀 영역*/
.pageTitle {
    margin: 20px 0;
    text-align: center;
}

.pageTitle h3 {
    font-size: 2rem;
    font-weight: bold;
}

/* content-sector영역 */
.content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin: auto;
}

/* 테이블 영역  */
.tb{
	width:100%;
	height: 100%;
	/* border: 1px solid #000; */
	border-collapse: collapse;
	background-color: white;
	
}
th, td{
	border: 1px solid #e2e2e2;
	text-align: center;
}
th{
	width:10%;
	height: 40px;
	background-color:  #eeeeee;
}

.thContent{
	height: 400px;
	
}

.tbCategory td{
	width : 140px;
}

.tbTitle td, .tbContetnt td{
	text-align: left;
}



/* Button Styling */
button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 1rem;
    color: #fff;
    background-color: #d72828;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background-color: #ac3131;
}
	
button:focus {
    outline: none;
}

/* button[onclick="delPost();"] {
    background-color: #d72828;
}

button[onclick="delPost();"]:hover {
    background-color: #d72828;
}
 */



.modifyDelBtn{
	display: flex;
	margin-right: 20px;
	justify-content: flex-end; 
} 


/* 왜 안돼 시바러ㅗ 
.commentUpdateContainer .btns{
	padding: 5px 10px;
    font-size: 0.9rem;
    margin-right: 5px;
}
 */

.commentWrite{
	 max-width: 1000px;
	 margin: auto;
	 
}

textarea{
	max-width : 90%;
	height: 200px;
	resize : none;
}

.commentNone{
	 max-width: 1000px;
}

.commentInput{
	 max-width: 850px;
	height: 220px;	
	 margin: auto;
	display: flex;
}

/* .commentInput button{
	padding: 5px 10px;
    font-size: 0.9rem;
    margin-right: 5px;
	justify-content: flex-end;
} */

.commentContainer{
	padding : 20px;
	 max-width: 1000px;
	 background-color: #f9f9f9;
	 margin: auto;
	 
}

.commentIdxView{
	padding :5px;
	display: flex;
	background-color: white;
	margin: 5px;
}

.writer{
	text-align: center;
	width: 20%;
}
.cont{
	margin-left: 0px;
	margin-bottom: auto;
	margin-top: auto;
	width: 80%;
}

.funcBtns{
	margin-bottom: auto;
	margin-top: auto;
	width: 20%;
	  justify-content: flex-end;
}

