<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korea.project.mapper.board.CommentMapper">

<!-- commnet 테이블 전체 컬럼 -->
<sql id="commentColumns">
	comment_idx,
	user_idx,
	board_idx,
	comment_depth,
	comment_del,
	comment_content,
	comment_write_date
</sql>


<!-- 댓글 저장  -->
<insert id="save" parameterType="com.korea.project.vo.board.CommentVO"  useGeneratedKeys="true" keyProperty="commentIdx">
	INSERT INTO comment(
		 <include refid="commentColumns" />
	) VALUES (
		#{commentIdx},
		#{userIdx},
		#{boardIdx},
		#{commentDepth},
		0,
		#{commentContent},
		CURRENT_TIMESTAMP
	)
</insert>


<!-- 댓글 상세정보 조회-->
<select id="findById">
	SELECT
		<include refid="commentColumns" />
	FROM comment
	WHERE comment_idx = #{commentIdx}
</select>


<!-- 댓글 수정 -->
<update id="update">
	UPDATE comment
	SET comment_content = #{commentContent}
	WHERE comment_idx = #{commentIdx}
</update>

<!-- 댓글 삭제 -->
<delete id="deleteById">
	UPDATE comment
	SET comment_del = -1
	WHERE comment_idx = #{commentIdx}
</delete>

<!-- 댓글 리스트 조회 -->
<select id="findAll">
	SELECT
	 	comment_idx,
	 	c.user_idx,
		user_nickname,
		board_idx,
		comment_depth,
		comment_del,
		comment_content,
		comment_write_date
	FROM comment c
	JOIN `user` u ON c.user_idx = u.user_idx
	WHERE comment_del = 0
		AND board_idx = #{boardIdx}
		
	ORDER BY comment_idx DESC
</select>


</mapper>