<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar">
    <nav class="sidebar">
        <ul>
            <li><a href="/user/mypage" th:href="@{/user/mypage}"><i class="fas fa-user"></i>내정보보기</a></li>
            <li th:if="${user.providerId == null}"><a href="/user/mypage/change-pwd" th:href="@{/user/mypage/change-pwd}"><i class="fas fa-key"></i>비밀번호 변경</a></li>
            <li><a href="/user/mypage/my-post" th:href="@{/user/mypage/my-post}"><i class="fas fa-file-alt"></i>내 게시글 보기</a></li>
            <li><a href="/user/mypage/withdrawal" th:href="@{/user/mypage/withdrawal}"><i class="fas fa-user-minus"></i>탈퇴</a></li>
        </ul>
    </nav>
</div>
</body>
</html>